@font-face {
    font-family: 'estedad';
    src:url('../Estedad-master/dist/Static/ttf/FD/Estedad-FD-Bold.ttf') format('truetype');
         
    // font-style: normal;
    // font-weight: normal;
}
$font-family-estedad-fd:'estedad';
